body{
    font-family: Arial, Helvetica, sans-serif;
}

#grid-container{
    display: grid;
    grid-template-areas: "header" "main" "footer";
}

header, main, footer{
    padding: 1rem;
}

header{
    font-size: 1.5rem;
    font-weight: 600;
    grid-area: header;
    background-color: black;
}

/* Bild-källlhänvisning */
.bildtext{
    color: gray;
    opacity: 0.5;
    font-size: 5px;
}

#logo{
    text-decoration:none;
    color: white;
    display:inline;
    text-align: center;
    margin-left: 1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#search{
    display: none;
}

header nav{
    display: inline;
    justify-content: space-between;
    position: relative;
}

header nav div{
    display: inline;
    gap: 1rem;
}

#left-nav{
    display: inline;
    float: left;
}

#right-nav{
    display: inline;
    float: right;
}

.navbar{
    display:none;
}

.responsive {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 40px;
    list-style: none;
    background-color: #242424;
    z-index: 1;
}

.responsive a {
    color: white;
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
}

main{
    grid-area: main;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main section img{
    width: 100%;
}

/*class="container" och "text-overlay" hämtad från chatgpt*/
.container {
    position: relative;
    width: 100%;
}

.text-overlay {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: rgba(255, 255, 255, 0.7);
    padding: .5rem; 
    margin-bottom: 1rem;
    text-align: center;
}

#shoppa-nu{
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 0.1rem 1rem 0.1rem 1rem;
    border-radius: 2px;
}

main section article{
    margin-top: 1rem;
}

#bestseller, #nyheter{
    font-size: larger;
    color: black;
}

.prev, .next{
    float: right;
    margin: 0.5rem;
    border: none;
    border-radius: 4px;
}

.slider{
    padding: 1rem;
}

.slider-images{
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    margin-right: 30px;
    margin-top: 2rem;
}

.slider-image{
    margin-right: 10px;
}

.slider-image h4, p{
    color: black;
} 

.slider-image a{
    text-decoration: none;
}

article p i{
    display: inline;
    float: right;
    font-size: x-large;
}

#converse1, #converse2{
    display: none;
}

section form{
    background-color: rgba(24, 121, 166, 0.532);
    text-align: center;
    padding: 1rem;
    border-radius: 2px;
    margin-top: 1rem;
}

form input[type=submit]{
    color: black;
    font-weight: 600;
    font-size: 16px;
    border: 1;
}

.flex-section{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.stor-bild{
    margin-top: 0.5rem;
}

.shoppa-nu-btn{
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 2px;
}

/*produktsida*/

#hans-greta{
    list-style: none;
    float: left;
    padding: 0.5rem;
}

#hans-greta li a{
    color: black;
}

.product-info{
    padding: 1rem;
}

main nav li{
    display: inline;
    margin: auto;
}

.this-page{
    color: rgb(75, 73, 73);
}

.product img{
    width: 100%;
}

/*select är hämtad från chatgpt*/
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#add-to-cart{
    background-color: #000;
    color: white;
    padding: 1rem 3rem 1rem 3rem;
    display: inline;
    float: center;
    margin: 1rem;
    margin-top: 2rem;
}

#heart{
    font-size: xx-large;
    float: right;
    padding: 0.5rem
}

#more{
    margin-top: 5rem;
    padding: 1rem;
}

/*Mina sidor*/

#rubrik-ms{
    margin-left: 1rem;
}

.list-container{
    display: flex;
    justify-content: center;
}

.list-container ul{
    list-style: none;
}

.list-container ul li a{
    color:black;
}

#icons-info{
    font-size: xx-large;
}

#icons-info li{
    padding: 0.6rem;
    margin-bottom: 1.5rem;
}

#profile{
    font-size: large;
    margin-top: 2.1rem;
}

#profile li{
    padding: 0.55rem;
    margin-bottom: 2.7rem;
}

#extra{
    display: none;
}

footer{
    grid-area: footer;
    background-color: rgb(159, 156, 156);
    margin-top: 2rem;
}

#logo-footer{
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

footer nav h4{
    display: flex;
}

#footer-row li a{
   display: none;
}

.footer-ul{
    list-style: none;
}

footer ul a{
    color: black;
}

#footer-icons{
    font-size: xx-large;
    padding: 0.5rem;
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    text-align: center;
}

#footer-icons li{
    display: inline-block;
}

footer h3{
    text-align: center;
}


@media only screen and (min-width:800px){

    #grid-container{
        grid-template-areas: "header header header" ". main ." "footer footer footer";
    }

    .navbar{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        list-style: none;
    }

    .navbar a{
        color: #fff;
    }

    #ham, #ma-glass{
        display: none;
    }
    
    main{
        grid-area: main;
        padding: 0;
        display: flex;
        flex-direction: column;
        margin: 3rem;
    }

    main section article{
        margin: 0.5rem;
    }

    .text-overlay {
        position: absolute;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        background-color: rgba(255, 255, 255, 0.7);
        padding: 40px; 
        text-align: center; 
    }

    #shoppa-nu{
        background-color: black;
        text-decoration: none;
        color: white;
        padding: 1rem 1rem 1rem 1rem;
        border-radius: 2px;
    }

    #converse1, #converse2{
        display: inline;
    }
    
    #search{
        display: inline-flex;
    }
    
    #logo{
        text-decoration:none;
        color: white;
        display:inline;
        float: right
    }

    .flex-section{
        flex-direction: row;
        text-align: center;
        margin: 1rem auto; 
        justify-content: center;
    }

    .flex-section-p{
        display: flex;
        justify-content: center;
    }

    .product {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 20px;
        float: left;
    }

    .product img{
        display: flex;
        margin-right: 10px;
        float: left;
    }

    #extra{
        display: list-item;
        margin-left: 8rem;
        background-color: #a8a8a8;
        padding: 0 8rem;
        text-align: center;
    }

    #footer-row li a{
        display: list-item;
     }

     .footer-ul{
        list-style: none;
     }

    #footer-row{
        display: flex;
        justify-content: space-between;
        margin-right: 1.5rem;
    }
}